[package]
name = "shared"
version = "0.1.0"
edition = "2024"


[dependencies]
embassy-time        = { version = "0.5.0", features = ["defmt", "defmt-timestamp-uptime"] }
usbd-hid            = { version = "0.9.0" }

